
/* Sorry for this terrible codes */

* {
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 54, 54);
    font-size: 24pt;
    margin: 0;
    padding: 0;
    height: 100vh;
   /* background: url(https://i.pinimg.com/originals/e5/9c/82/e59c829455bd9cdc12930cb72c7253f3.png)no-repeat;
    background-size: cover;>*/
    overflow-y: hidden;
}

h1 {
    padding: none;
    margin: none;
    top: 0px;
}

.github {
    text-align: right;
    padding: 20px;

    
}

#gh {
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 54, 54);
    transition: transform .7s ease-in-out;
    font-size: 50px; /* Determines the size of the icon */
}

#gh:hover {
    transform: rotate(360deg);
}

.floatcenter {
    float: center;
}



.social  {
    position: fixed;
    height: 180;
    display: flex;
    justify-content: center;
    
}

.social a {
    color: white;
    font-size: 100px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 20px;
    padding: 0;
    
    
}

#div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  

}

.center {
    text-align: center;
}   

p {
    font-size: 35pt;
    
}

a {
    cursor: pointer;
}

button {
    text-align: center;
    border: 3.2px solid white;
    padding: none;
    margin: 10px;
    border-radius: 25px;
    background: transparent;
    color: white;
    font-size: 25pt;
    height: 100px;
    width: 250px;
    
    
}

button:hover {
opacity: 50%;
height: 110px;
width: 275px;
font-size: 28pt;

}

#more {
    top: 70%;
}


/*  hovers  */
#fb {
    transition: transform .7s ease-in-out;
}

#fb:hover {
    color:  #4267B2;
    transform: rotate(360deg);
}
#yt {
    transition: transform .7s ease-in-out;
}
#yt:hover {
    color: #FF0000;
    transform: rotate(360deg);
}
/*
#ig:hover {
   color: rgb(74, 74, 74);
}
*/
#dc {
    transition: transform .7s ease-in-out;
}

#dc:hover {
    color: #5865F2;
    transform: rotate(360deg);
}
#tw {
    transition: transform .7s ease-in-out;
}
#tw:hover {
    color: #1DA1F2;
    transform: rotate(360deg);
}

#more {
    height: 180;
    display: flex;
    justify-content: center;
    margin: 5px;
}
